<h3 class="title d-inline px-3">マイページ</h3>
<div class="d-flex align-items-center flex-wrap mt-4">
  <div class="h5 font-weight-bold mb-0 mr-3">登録情報</div>
  <%= link_to '編集する', edit_information_path, class:"btn btn-success" %>
</div>

<div class="col-lg-8 table-responsive text-nowrap">
  <table class="table table-bordered mt-3">
    <tbody>
      <tr>
        <th scope="row" class="table-secondary">氏名</th>
        <td><%= @customer.last_name + " " + @customer.first_name %></td>
      </tr>
      <tr>
        <th scope="row" class="table-secondary">カナ</th>
        <td><%= @customer.last_name_kana + " " + @customer.first_name_kana %></td>
      </tr>
      <tr>
        <th scope="row" class="table-secondary">郵便番号</th>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <th scope="row" class="table-secondary">住所</th>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <th scope="row" class="table-secondary">電話番号</th>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <th scope="row" class="table-secondary">メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
    </tbody>  
  </table>
</div>

<div class="row mt-3 align-items-center">
  <div class="col-lg-1 col-md-2 col-4 font-weight-bold mr-3">配送先</div>
  <%= link_to "一覧を見る" , addresses_path, class:"btn btn-primary" %>
</div>
<div class="row mt-3 align-items-center">
  <div class="col-lg-1 col-md-2 col-4 font-weight-bold mr-3">注文履歴</div>
  <%= link_to "一覧を見る" , orders_path, class:"btn btn-primary" %>
</div>