<h1>商品詳細</h1>
<div>
  <%= image_tag @item.get_item_image(1024, 1024) %>
</div>
<div>
  <%= @item.name %><br>
  <%= @item.introduction %><br>
  <%= @item.genre.name %><br>
  <%= @include_tax %>（<%= @item.price %>）<br>
  <%= @item.is_active ? '販売中' : '販売停止中' %><br>
  <%= link_to '編集', edit_admin_item_path(@item) %>
</div>