<h1>配送先登録/一覧</h1>
<%= form_with model: @address, local: true do |f| %>
  <div class="field">
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<table>
  <tr>
    <th>郵便番号</th>
    <th>住所</th>
    <th>宛名</th>
  </tr>
  <% @addresses.each do |address| %>
    <tr>
      <td><%= address.postal_code %></td>
      <td><%= address.address %></td>
      <td><%= address.name %></td>
      <td>
        <%= link_to '編集する', edit_address_path(address) %>
        <%= link_to '削除する', address_path(address), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>