<div class="row">
  <div class="col-md-3">
    <%= render "public/temp/genre_search", genres: @genres %>
  </div>
  <div class="col-md-9">
    <h2><%= @title %>（全<%= @items.total_count %>件）</h2>
    <%= render "public/temp/items_index", title: @title, items: @items %>
    <%= paginate @items, :param_name => 'item_page' %>
  </div>
</div>